@import 'variables';

.show-container {
    margin: auto;
    gap: 35px;
    margin-top: 55px;

    .back-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 35px;
    }

    .yield-container {
        margin: auto;
        gap: 15px;
    }

    img {
        max-height: 500px;
        max-width: 100%;
    }

    textarea {
        width: 100%;
        height: 170px;
    }
}