<footer class="back-plate">
    <p>Made with ❤ By <%= link_to 'Hugo PETAMENT', 'https://www.hugoptm.fr/', target: '_blank' %>
    <%= link_to "https://github.com/Peuf54", target: '_blank' do %>
        <i class="fa-brands fa-github fa-2xl"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/hugo-petament/", target: '_blank' do %>
        <i class="fa-brands fa-linkedin fa-2xl"></i>
    <% end %>
    </p>
</footer>