@import 'variables';

.alert {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 4px 12px;
    position: fixed;
    bottom: 150px;
    right: 50px;
    z-index: 1000;
    // ACTIVE ANIMATION
    -webkit-animation: roll-in-blurred-left 4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-left 4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


// ENTER ANIMATION FROM 0 TO 20%, DISPLAY STATE FROM 20 TO 80%, EXIT ANIMATION FROM 80 TO 100%
@-webkit-keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-20deg);
        transform: translateX(-1000px) rotate(-20deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    20% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}


@keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-20deg);
        transform: translateX(-1000px) rotate(-20deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    20% {
        -webkit-transform: translateX(0) rotate(20deg);
        transform: translateX(0) rotate(20deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    40% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
} 
