@import 'variables';

.main-cta {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 5px 24px;
    display: block;
    width: fit-content;
    border: 1px solid $primary-color;
    text-decoration: none;
}

.secondary-cta {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 5px 24px;
    display: block;
    width: fit-content;
    border: 1px solid $primary-color;
    text-decoration: none;
}