@import 'variables';

input[type="text"] {
    box-shadow: $shadow;
    border: none;
    background-color: $secondary-color;
    padding: 5px;
}

input[type="file"] {
    border: 2px $primary-color solid;
    border-radius: 15px;
    padding: 5px 15px;
    display: block;
    background-color: $secondary-color !important;
    box-shadow: $shadow;
}