@import 'variables';

.file-label {
    border: 2px $primary-color solid;
    border-radius: 15px;
    padding: 5px 15px;
    display: block;
    background-color: $secondary-color;
    box-shadow: $shadow;
}