@import 'variables';

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px !important;

    .header-title {
        display: flex;
        flex-direction: column;

        .header-up-titles {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        .subtitle {
            color: $third-color;
            font-size: .8rem;
        }
    }

    #main-menu {
        width: 100%;
        max-width: 810px;
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
        
    }

    .header-login-register-cta {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}