@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

/* ---------- COLORS ---------- */

$primary-color: black;
$secondary-color: white;
$third-color: #D6D6D6;

/* ------ END OF COLORS ------ */


/* ---------- SIZES ---------- */

$l-fsize1: 3rem;
$l-fsize2: 2rem;
$l-fsize3: 1.5rem;

$m-fsize1: 2.4rem;
$m-fsize2: 1.8rem;
$m-fsize3: 1.2rem;

$s-fsize1: 2rem;
$s-fsize2: 1.6rem;
$s-fsize3: 1.1rem;

/* ------ END OF SIZES ------ */


/* ---------- OTHER ---------- */

$shadow: 2px 4px 16px 7px rgba(0, 0, 0, 0.15);
$secondary-color: white;
$third-color: #868686;

/* ------ END OF OTHER ------ */